%h1= t(".title")

%table
  %thead
    %tr
      %th= t(".th1")
      %th= t(".th2")
      %th= t(".th3")
      %th= t(".th4")
      %th
      %th
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.name
        %td= task.description
        %td= task.quote
        %td= link_to task.event.name, task.event
        %td= link_to t("lnkShow"), task
        %td= link_to t("lnkEdit"), edit_task_path(task)
        %td= link_to t("lnkDestroy"), task, :method => :delete, :data => { :confirm => t("confirm") }

%br

