%p#notice= notice

%p
  %b Name:
  = @task.name
%p
  %b Description:
  = @task.description
%p
  %b Quote:
  = @task.quote
%p
  %b Event:
  = @task.event

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
