%p#notice= notice

%p
  %b= t(".f1")
  = @task.name
%p
  %b= t(".f2")
  = @task.description
%p
  %b= t(".f3")
  = @task.quote
%p
  %b= t(".f4")
  = link_to @task.event.name, @task.event

= link_to t("lnkEdit"), edit_task_path(@task)
\|
= link_to t("lnkBack"), tasks_path
