- flash.each do |key,value|
  =content_tag :div, content_tag(:p,value), id: "#{key}" unless value.blank?

%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "/"}= t("app_title")
    %ol.nav.navbar-nav
      %li
        = link_to(t(".h1"), customers_path)
      %li
        = link_to(t(".h2"), events_path)
      %li
        = link_to(t(".h3"), tasks_path)
      %li
        = link_to(t(".h4"), contact_path)