%h1=t(".title")
%h2=t(".contact_us")

// %form#components.form-horizontal{role: "form", method: 'POST', action: "request_contact"}
//   %fieldset
//     .tab-content
//       / Tabs of snippets go here
//       #input.tab-pane.active
//         .component
//           / Text input
//           .form-group
//             %label.col-md-4.control-label{for: "name"} Name
//             .col-md-4
//               %input#textinput.form-control.input-md{name: "name", placeholder: "Matthew Casey", style: "cursor: auto;", type: "text"}/
//         .component
//           / Text input
//           .form-group
//             %label.col-md-4.control-label{for: "email"} Email
//             .col-md-4
//               %input#textinput.form-control.input-md{name: "email", placeholder: "m.casey@gmail.com", style: "cursor: auto;", type: "text"}/
//         .component
//           / Text input
//           .form-group
//             %label.col-md-4.control-label{for: "telephone"} Telephone
//             .col-md-4
//               %input#textinput.form-control.input-md{name: "telephone", placeholder: "1234567890", style: "cursor: auto;", type: "text"}/
//         .component
//           / Text input
//           .form-group
//             %label.col-md-4.control-label{for: "message"} Message
//             .col-md-4
//               %input#textinput.form-control.input-md{name: "message", placeholder: "Example Message", style: "cursor: auto;", type: "text"}/
//         .component
//           .form-group
//             %button.col-md-4{type: "submit", class: "btn btn-default"} Submit


.row
  .col-md-6.col-md-offset-3
    = form_tag request_contact_path, method: 'post' do
      .form-group
        = label_tag :name, t('.name')
        = text_field_tag :name, '', title: t('.enter_name'), size: 50, class: 'form-control', placeholder: "Matthew Casey"
      .form-group
        = label_tag :email, t('.email')
        = email_field_tag :email, '', title: t('.enter_email'), class: 'form-control', placeholder: "m.casey@gmail.com"
      .form-group
        = label_tag :telephone, t('.telephone')
        = telephone_field_tag :telephone, '', title: t('.enter_telephone'), class: 'form-control', placeholder: "1234567890"
      .form-group
        = label_tag :message, t('.message')
        = text_area_tag :message, '', title: t('.enter_message'), size: 100, class: 'form-control', placeholder: "Example Message"
      = submit_tag t('.submit'), class: "btn btn-default"