%h1= t(".title")

%table
  %thead
    %tr
      %th= t(".h1")
      %th= t(".h2")
      %th= t(".h3")
      %th= t(".h4")
      %th= t(".h5")
      %th= t(".h6")
      %th= t(".h7")
      %th= t(".h8")
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.name
        %td= event.description
        %td= event.start
        %td= event.end
        %td= event.location
        %td= event.quote
        %td= event.paid
        %td= link_to event.customer.forename + " " + event.customer.surname, event.customer
        %td= link_to t("lnkShow"), event
        %td= link_to t("lnkEdit"), edit_event_path(event)
        %td= link_to t("lnkDestroy"), event, :method => :delete, :data => { :confirm => t("confirm") }

%br

= link_to t(".lnkNew"), new_event_path
