%h1 Listing events

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Start
      %th End
      %th Location
      %th Quote
      %th Paid
      %th Customer
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.name
        %td= event.description
        %td= event.start
        %td= event.end
        %td= event.location
        %td= event.quote
        %td= event.paid
        %td= link_to event.customer.forename + " " + event.customer.surname, event.customer
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
