%p#notice= notice

%p
  %b= t(".f1")
  = @event.name
%p
  %b= t(".f2")
  = @event.description
%p
  %b= t(".f3")
  = @event.start
%p
  %b= t(".f4")
  = @event.end
%p
  %b= t(".f5")
  = @event.location
%p
  %b= t(".f6")
  = @event.quote
%p
  %b= t(".f7")
  = @event.paid
%p
  %b= t(".f8")
  = link_to @event.customer.forename + ' ' + @event.customer.surname, @event.customer

= link_to t("lnkAdd"), new_task_path(event_id: @event)

= link_to t("lnkEdit"), edit_event_path(@event)
\|
= link_to t("lnkBack"), events_path
