%h1= t(".title")

%table
  %thead
    %tr
      %th= t(".th1")
      %th= t(".th2")
      %th= t(".th3")
      %th= t(".th4")
      %th
      %th
      %th

  %tbody
    - @customers.each do |customer|
      %tr
        %td= customer.forename
        %td= customer.surname
        %td= customer.email
        %td= customer.phone
        %td= link_to t(".lnkShow"), customer
        %td= link_to t(".lnkEdit"), edit_customer_path(customer)
        %td= link_to t(".lnkDestroy"), customer, :method => :delete, :data => { :confirm => t(".confirm") }

%br

= link_to t(".lnkNew"), new_customer_path
