%p#notice= notice

%p
  %b= t(".f1")
  = @customer.forename
%p
  %b= t(".f2")
  = @customer.surname
%p
  %b= t(".f3")
  = @customer.email
%p
  %b= t(".f4")
  = @customer.phone
  
= link_to t(".lnkAdd"), new_event_path(customer_id: @customer)

= link_to t("lnkEdit"), edit_customer_path(@customer)
\|
= link_to t("lnkBack"), customers_path
