%p= "Dear #{t('app_title')},"
%p= "Could you get in touch with me please?"

%dl
    %dt t('.name')
    %dd= @name
    %dt t('.email')
    %dd= @email
    %dt t('.telephone')
    %dd= @telephone
    %p= @message
    %p t('.regards')
    %p= @name